## AI HACK Preprocessing Test

## Import relevant libraries

In [1]:
import numpy as np
from sklearn import preprocessing
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Extract data from csv

In [3]:

raw_csv_data = pd.read_csv('Test.csv')

unscaled_inputs_all = raw_csv_data.drop(['FLTID','AC'], axis=1)

In [4]:
unscaled_inputs_all.head()

          ID       DATOP DEPSTN ARRSTN                  STD                  STA STATUS
0  test_id_0  2016-05-04    DJE    TUN  2016-05-04 06:40:00  2016-05-04 07.30.00    ATA
1  test_id_1  2016-05-05    TUN    BKO  2016-05-05 15:20:00  2016-05-05 20.05.00    ATA
2  test_id_2  2016-05-06    FRA    TUN  2016-05-06 10:00:00  2016-05-06 12.25.00    ATA
3  test_id_3  2016-05-11    BEY    TUN  2016-05-11 09:40:00  2016-05-11 13.10.00    ATA
4  test_id_4  2016-05-11    ORY    MIR  2016-05-11 09:50:00  2016-05-11 12.35.00    ATA

## Transform dates

In [5]:
from datetime import datetime

unscaled_inputs_all['DATOP'] =  pd.to_datetime(unscaled_inputs_all['DATOP'])
unscaled_inputs_all['STD'] =  pd.to_datetime(unscaled_inputs_all['STD'])
unscaled_inputs_all['STA'] =  pd.to_datetime(unscaled_inputs_all['STA'],format = '%Y-%m-%d %H.%M.%S')

In [6]:
unscaled_inputs_all['DATOP_Year'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.year)
unscaled_inputs_all['DATOP_Month'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.month)
unscaled_inputs_all['DATOP_Day'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.day)
unscaled_inputs_all['DATOP_Weekday'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.weekday())
unscaled_inputs_all['DATOP_Season'] =  unscaled_inputs_all['DATOP'].map(lambda x: (x.month%12 + 3)//3)

In [7]:
unscaled_inputs_all['STD_Year'] =  unscaled_inputs_all['STD'].map(lambda x: x.year)
unscaled_inputs_all['STD_Month'] =  unscaled_inputs_all['STD'].map(lambda x: x.month)
unscaled_inputs_all['STD_Day'] =  unscaled_inputs_all['STD'].map(lambda x: x.day)
unscaled_inputs_all['STD_Hour'] =  unscaled_inputs_all['STD'].map(lambda x: x.hour)
unscaled_inputs_all['STD_Minute'] =  unscaled_inputs_all['STD'].map(lambda x: x.minute)
unscaled_inputs_all['STD_Weekday'] =  unscaled_inputs_all['STD'].map(lambda x: x.weekday())
unscaled_inputs_all['STD_Season'] =  unscaled_inputs_all['STD'].map(lambda x: (x.month%12 + 3)//3)

In [8]:
unscaled_inputs_all['STA_Year'] =  unscaled_inputs_all['STA'].map(lambda x: x.year)
unscaled_inputs_all['STA_Month'] =  unscaled_inputs_all['STA'].map(lambda x: x.month)
unscaled_inputs_all['STA_Day'] =  unscaled_inputs_all['STA'].map(lambda x: x.day)
unscaled_inputs_all['STA_Hour'] =  unscaled_inputs_all['STA'].map(lambda x: x.hour)
unscaled_inputs_all['STA_Minute'] =  unscaled_inputs_all['STA'].map(lambda x: x.minute)
unscaled_inputs_all['STA_Weekday'] =  unscaled_inputs_all['STA'].map(lambda x: x.weekday())
unscaled_inputs_all['STA_Season'] =  unscaled_inputs_all['STA'].map(lambda x: (x.month%12 + 3)//3)

In [9]:
unscaled_inputs_all = unscaled_inputs_all.drop(['DATOP','STD','STA'], axis=1)

In [10]:
unscaled_inputs_all.describe(include='all')

                  ID DEPSTN ARRSTN STATUS   DATOP_Year  DATOP_Month    DATOP_Day  DATOP_Weekday  DATOP_Season     STD_Year    STD_Month      STD_Day     STD_Hour   STD_Minute  STD_Weekday   STD_Season     STA_Year    STA_Month      STA_Day     STA_Hour   STA_Minute  STA_Weekday   STA_Season
count           9333   9333   9333   9333  9333.000000  9333.000000  9333.000000    9333.000000   9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000  9333.000000
unique          9333     82     84      5          NaN          NaN          NaN            NaN           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN
top     test_id_6646    TUN    TUN    ATA          NaN          NaN          NaN            NaN           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN
freq               1   3621   3650   8027          NaN          NaN          NaN            NaN           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN
mean             NaN    NaN    NaN    NaN  2017.113897     5.884174    14.444444       3.191685      2.576449  2017.113897     5.884174    14.444444    12.069645    25.609557     3.191685     2.576449  2017.114218     5.885139    14.513447    12.985428    26.502089     3.203150     2.576771
std              NaN    NaN    NaN    NaN     0.847573     2.898109     8.309322       2.035110      1.275520     0.847573     2.898109     8.309322     5.176656    17.908622     2.035110     1.275520     0.847467     2.899053     8.308736     5.336030    17.637280     2.029804     1.275500
min              NaN    NaN    NaN    NaN  2016.000000     2.000000     1.000000       0.000000      1.000000  2016.000000     2.000000     1.000000     0.000000     0.000000     0.000000     1.000000  2016.000000     1.000000     1.000000     0.000000     0.000000     0.000000     1.000000
25%              NaN    NaN    NaN    NaN  2016.000000     2.000000     7.000000       1.000000      1.000000  2016.000000     2.000000     7.000000     8.000000    10.000000     1.000000     1.000000  2016.000000     2.000000     7.000000     9.000000    10.000000     1.000000     1.000000
50%              NaN    NaN    NaN    NaN  2017.000000     5.000000    14.000000       3.000000      2.000000  2017.000000     5.000000    14.000000    12.000000    25.000000     3.000000     2.000000  2017.000000     5.000000    14.000000    13.000000    25.000000     3.000000     2.000000
75%              NaN    NaN    NaN    NaN  2018.000000     9.000000    22.000000       5.000000      4.000000  2018.000000     9.000000    22.000000    16.000000    40.000000     5.000000     4.000000  2018.000000     9.000000    22.000000    17.000000    40.000000     5.000000     4.000000
max              NaN    NaN    NaN    NaN  2018.000000     9.000000    30.000000       6.000000      4.000000  2018.000000     9.000000    30.000000    23.000000    59.000000     6.000000     4.000000  2018.000000    11.000000    30.000000    23.000000    59.000000     6.000000     4.000000

In [11]:
# unscaled_inputs_all["DEPSTN"].value_counts().count()

In [12]:
# unscaled_inputs_all["ARRSTN"].value_counts().count()

In [13]:
unscaled_inputs_all["STATUS"].value_counts()

ATA    8027
SCH    1228
DEP      37
RTR      23
DEL      18
Name: STATUS, dtype: int64

In [14]:
len(unscaled_inputs_all.columns)

23

## Binary Encoding

In [15]:
import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['STATUS','DEPSTN','ARRSTN'])
unscaled_inputs_binary_encoded = encoder.fit_transform(unscaled_inputs_all)

unscaled_inputs_binary_encoded.head()

,ID,DEPSTN_0,DEPSTN_1,DEPSTN_2,DEPSTN_3,DEPSTN_4,DEPSTN_5,DEPSTN_6,DEPSTN_7,ARRSTN_0,ARRSTN_1,ARRSTN_2,ARRSTN_3,ARRSTN_4,ARRSTN_5,ARRSTN_6,ARRSTN_7,STATUS_0,STATUS_1,STATUS_2,STATUS_3,DATOP_Year_0,DATOP_Year_1,DATOP_Year_2,DATOP_Month_0,DATOP_Month_1,DATOP_Month_2,DATOP_Day_0,DATOP_Day_1,DATOP_Day_2,DATOP_Day_3,DATOP_Day_4,DATOP_Day_5,DATOP_Weekday_0,DATOP_Weekday_1,DATOP_Weekday_2,DATOP_Weekday_3,DATOP_Season_0,DATOP_Season_1,DATOP_Season_2,STD_Year_0,STD_Year_1,STD_Year_2,STD_Month_0,STD_Month_1,STD_Month_2,STD_Day_0,STD_Day_1,STD_Day_2,STD_Day_3,STD_Day_4,STD_Day_5,STD_Hour_0,STD_Hour_1,STD_Hour_2,STD_Hour_3,STD_Hour_4,STD_Hour_5,STD_Minute_0,STD_Minute_1,STD_Minute_2,STD_Minute_3,STD_Minute_4,STD_Minute_5,STD_Minute_6,STD_Weekday_0,STD_Weekday_1,STD_Weekday_2,STD_Weekday_3,STD_Season_0,STD_Season_1,STD_Season_2,STA_Year_0,STA_Year_1,STA_Year_2,STA_Month_0,STA_Month_1,STA_Month_2,STA_Month_3,STA_Day_0,STA_Day_1,STA_Day_2,STA_Day_3,STA_Day_4,STA_Day_5,STA_Hour_0,STA_Hour_1,STA_Hour_2,STA_Hour_3,STA_Hour_4,STA_Hour_5,STA_Minute_0,STA_Minute_1,STA_Minute_2,STA_Minute_3,STA_Minute_4,STA_Minute_5,STA_Minute_6,STA_Weekday_0,STA_Weekday_1,STA_Weekday_2,STA_Weekday_3,STA_Season_0,STA_Season_1,STA_Season_2
0,test_id_0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1
1,test_id_1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
2,test_id_2,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,1,1,0,0,1
3,test_id_3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1
4,test_id_4,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1

In [16]:
# len(unscaled_inputs_binary_encoded.columns)

In [17]:
# unscaled_inputs_binary_encoded = unscaled_inputs_binary_encoded.values

In [18]:
unscaled_inputs_binary_encoded.shape

(9333, 105)

## Standardize the inputs

In [19]:
scaled_inputs = unscaled_inputs_binary_encoded

In [20]:
# scaled_inputs[:,1:] = preprocessing.scale(unscaled_inputs_binary_encoded[:,1:])

In [21]:
# scaled_inputs = unscaled_inputs_binary_encoded

## Save the three datasets in *.npz

In [22]:

np.savez('AI_HACK_data_test_set',inputs=scaled_inputs)