## AI HACK Preprocessing

## Import relevant libraries

In [1]:
import numpy as np
from sklearn import preprocessing
import pandas as pd
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Extract data from csv

In [3]:

raw_csv_data = pd.read_csv('Train.csv')

unscaled_inputs_all = raw_csv_data.drop(['ID','FLTID','AC'], axis=1)

In [4]:
unscaled_inputs_all['target'].quantile(0.99)

517.0

In [5]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.set()
# sns.distplot(unscaled_inputs_all['target'])

In [6]:
# q = unscaled_inputs_all['target'].quantile(0.99)
# unscaled_inputs_all = unscaled_inputs_all[unscaled_inputs_all['target']<q]
# sns.distplot(unscaled_inputs_all['target'])

In [7]:
targets_all = unscaled_inputs_all['target']
unscaled_inputs_all = unscaled_inputs_all.drop(['target'],axis=1)

In [8]:
unscaled_inputs_all.head()

        DATOP DEPSTN ARRSTN                  STD                  STA STATUS
0  2016-01-03    CMN    TUN  2016-01-03 10:30:00  2016-01-03 12.55.00    ATA
1  2016-01-13    MXP    TUN  2016-01-13 15:05:00  2016-01-13 16.55.00    ATA
2  2016-01-16    TUN    IST  2016-01-16 04:10:00  2016-01-16 06.45.00    ATA
3  2016-01-17    DJE    NTE  2016-01-17 14:10:00  2016-01-17 17.00.00    ATA
4  2016-01-17    TUN    ALG  2016-01-17 14:30:00  2016-01-17 15.50.00    ATA

In [9]:
targets_all.head()

0    260.0
1     20.0
2      0.0
3      0.0
4     22.0
Name: target, dtype: float64

## Transform dates

In [10]:
from datetime import datetime

unscaled_inputs_all['DATOP'] =  pd.to_datetime(unscaled_inputs_all['DATOP'])
unscaled_inputs_all['STD'] =  pd.to_datetime(unscaled_inputs_all['STD'])
unscaled_inputs_all['STA'] =  pd.to_datetime(unscaled_inputs_all['STA'],format = '%Y-%m-%d %H.%M.%S')

In [11]:
unscaled_inputs_all['DATOP_Year'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.year)
unscaled_inputs_all['DATOP_Month'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.month)
unscaled_inputs_all['DATOP_Day'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.day)
unscaled_inputs_all['DATOP_Weekday'] =  unscaled_inputs_all['DATOP'].map(lambda x: x.weekday())
unscaled_inputs_all['DATOP_Season'] =  unscaled_inputs_all['DATOP'].map(lambda x: (x.month%12 + 3)//3)

In [12]:
unscaled_inputs_all['STD_Year'] =  unscaled_inputs_all['STD'].map(lambda x: x.year)
unscaled_inputs_all['STD_Month'] =  unscaled_inputs_all['STD'].map(lambda x: x.month)
unscaled_inputs_all['STD_Day'] =  unscaled_inputs_all['STD'].map(lambda x: x.day)
unscaled_inputs_all['STD_Hour'] =  unscaled_inputs_all['STD'].map(lambda x: x.hour)
unscaled_inputs_all['STD_Minute'] =  unscaled_inputs_all['STD'].map(lambda x: x.minute)
unscaled_inputs_all['STD_Weekday'] =  unscaled_inputs_all['STD'].map(lambda x: x.weekday())
unscaled_inputs_all['STD_Season'] =  unscaled_inputs_all['STD'].map(lambda x: (x.month%12 + 3)//3)

In [13]:
unscaled_inputs_all['STA_Year'] =  unscaled_inputs_all['STA'].map(lambda x: x.year)
unscaled_inputs_all['STA_Month'] =  unscaled_inputs_all['STA'].map(lambda x: x.month)
unscaled_inputs_all['STA_Day'] =  unscaled_inputs_all['STA'].map(lambda x: x.day)
unscaled_inputs_all['STA_Hour'] =  unscaled_inputs_all['STA'].map(lambda x: x.hour)
unscaled_inputs_all['STA_Minute'] =  unscaled_inputs_all['STA'].map(lambda x: x.minute)
unscaled_inputs_all['STA_Weekday'] =  unscaled_inputs_all['STA'].map(lambda x: x.weekday())
unscaled_inputs_all['STA_Season'] =  unscaled_inputs_all['STA'].map(lambda x: (x.month%12 + 3)//3)

In [14]:
unscaled_inputs_all = unscaled_inputs_all.drop(['DATOP','STD','STA'], axis=1)

In [15]:
unscaled_inputs_all.describe(include='all')

        DEPSTN  ARRSTN  STATUS     DATOP_Year    DATOP_Month      DATOP_Day  DATOP_Weekday   DATOP_Season       STD_Year      STD_Month        STD_Day      STD_Hour     STD_Minute    STD_Weekday     STD_Season       STA_Year      STA_Month        STA_Day       STA_Hour     STA_Minute    STA_Weekday     STA_Season
count   107833  107833  107833  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.00000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000  107833.000000
unique     132     128       5            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
top        TUN     TUN     ATA            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
freq     42522   42572   93679            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
mean       NaN     NaN     NaN    2017.026346       6.681211      15.956396       3.124999       2.573025    2017.026346       6.681211      15.956396      12.11133      24.922185       3.124999       2.573025    2017.026634       6.681526      15.954995      13.077472      26.678113       3.142118       2.573201
std        NaN     NaN     NaN       0.813208       3.292267       8.884317       2.026583       1.058648       0.813208       3.292267       8.884317       5.15951      17.879330       2.026583       1.058648       0.813456       3.292182       8.885298       5.350845      17.614412       2.021930       1.058654
min        NaN     NaN     NaN    2016.000000       1.000000       1.000000       0.000000       1.000000    2016.000000       1.000000       1.000000       0.00000       0.000000       0.000000       1.000000    2016.000000       1.000000       1.000000       0.000000       0.000000       0.000000       1.000000
25%        NaN     NaN     NaN    2016.000000       4.000000       8.000000       1.000000       2.000000    2016.000000       4.000000       8.000000       8.00000      10.000000       1.000000       2.000000    2016.000000       4.000000       8.000000       9.000000      10.000000       1.000000       2.000000
50%        NaN     NaN     NaN    2017.000000       7.000000      16.000000       3.000000       3.000000    2017.000000       7.000000      16.000000      12.00000      25.000000       3.000000       3.000000    2017.000000       7.000000      16.000000      13.000000      25.000000       3.000000       3.000000
75%        NaN     NaN     NaN    2018.000000       9.000000      24.000000       5.000000       3.000000    2018.000000       9.000000      24.000000      16.00000      40.000000       5.000000       3.000000    2018.000000       9.000000      24.000000      17.000000      40.000000       5.000000       3.000000
max        NaN     NaN     NaN    2018.000000      12.000000      31.000000       6.000000       4.000000    2018.000000      12.000000      31.000000      23.00000      59.000000       6.000000       4.000000    2019.000000      12.000000      31.000000      23.000000      59.000000       6.000000       4.000000

In [16]:
unscaled_inputs_all

       DEPSTN ARRSTN STATUS  DATOP_Year  DATOP_Month  DATOP_Day  DATOP_Weekday  DATOP_Season  STD_Year  STD_Month  STD_Day  STD_Hour  STD_Minute  STD_Weekday  STD_Season  STA_Year  STA_Month  STA_Day  STA_Hour  STA_Minute  STA_Weekday  STA_Season
0         CMN    TUN    ATA        2016            1          3              6             1      2016          1        3        10          30            6           1      2016          1        3        12          55            6           1
1         MXP    TUN    ATA        2016            1         13              2             1      2016          1       13        15           5            2           1      2016          1       13        16          55            2           1
2         TUN    IST    ATA        2016            1         16              5             1      2016          1       16         4          10            5           1      2016          1       16         6          45            5           1
3         DJE    NTE    ATA        2016            1         17              6             1      2016          1       17        14          10            6           1      2016          1       17        17           0            6           1
4         TUN    ALG    ATA        2016            1         17              6             1      2016          1       17        14          30            6           1      2016          1       17        15          50            6           1
5         TLS    TUN    ATA        2016            1         17              6             1      2016          1       17        16          20            6           1      2016          1       17        18          15            6           1
6         TUN    BCN    ATA        2016            1         18              0             1      2016          1       18         7          15            0           1      2016          1       18         9           0            0           1
7         TUN    ORY    ATA        2016            1         18              0             1      2016          1       18         7          35            0           1      2016          1       18         9          55            0           1
8         TUN    FCO    ATA        2016            1         18              0             1      2016          1       18         7          40            0           1      2016          1       18         9           0            0           1
9         TUN    NCE    ATA        2016            1         18              0             1      2016          1       18         7          45            0           1      2016          1       18         9          15            0           1
10        TUN    MRS    ATA        2016            1         18              0             1      2016          1       18         7          55            0           1      2016          1       18         9          30            0           1
11        TUN    ORY    ATA        2016            1         20              2             1      2016          1       20        18          30            2           1      2016          1       20        20          50            2           1
12        TUN    MED    ATA        2016            1         20              2             1      2016          1       20        19          40            2           1      2016          1       21         0           0            3           1
13        IST    TUN    ATA        2016            1         21              3             1      2016          1       21        20          10            3           1      2016          1       21        23           0            3           1
14        TUN    FRA    ATA        2016            1         22              4             1      2016          1       22         7           5            4           1      2016          1       22         9          40            4           1
15        CMN    TUN    ATA        2016            1         22              4             1      2016          1       22        17          45            4           1      2016          1       22        20          10            4           1
16        ORY    TUN    ATA        2016            1         22              4             1      2016          1       22        18          30            4           1      2016          1       22        21           0            4           1
17        MIR    BRU    ATA        2016            1         23              5             1      2016          1       23         5          30            5           1      2016          1       23         8          15            5           1
18        TUN    MED    ATA        2016            1         22              4             1      2016          1       22        19          40            4           1      2016          1       23         0           0            5           1
19        TUN    DJE    ATA        2016            1         23              5             1      2016          1       23         8          50            5           1      2016          1       23         9          45            5           1
20        ORY    TUN    ATA        2016            1         23              5             1      2016          1       23        10          55            5           1      2016          1       23        13          20            5           1
21        DJE    LYS    ATA        2016            1         24              6             1      2016          1       24        14           5            6           1      2016          1       24        16          25            6           1
22        BRU    TUN    ATA        2016            1         27              2             1      2016          1       27        11          35            2           1      2016          1       27        14          15            2           1
23        TUN    MED    ATA        2016            2          1              0             1      2016          2        1        19          40            0           1      2016          2        2         0           0            1           1
24        TUN    CMN    ATA        2016            2          2              1             1      2016          2        2         6          55            1           1      2016          2        2         9          40            1           1
25        TUN    BEG    ATA        2016            2          2              1             1      2016          2        2         8           0            1           1      2016          2        2        10           5            1           1
26        ORY    TUN    ATA        2016            2          2              1             1      2016          2        2        18          30            1           1      2016          2        2        20          55            1           1
27        TUN    OUA    ATA        2016            2          2              1             1      2016          2        2        18          30            1           1      2016          2        2        22          50            1           1
28        IST    TUN    ATA        2016            2          2              1             1      2016          2        2        20          10            1           1      2016          2        2        23           0            1           1
29        ABJ    TUN    ATA        2016            2          3              2             1      2016          2        3         1          55            2           1      2016          2        3         7           5            2           1
...       ...    ...    ...         ...          ...        ...            ...           ...       ...        ...      ...       ...         ...          ...         ...       ...        ...      ...       ...         ...          ...         ...
107803    TUN    TUN    SCH        2018            1         28              6             1      2018          1       28        20           0            6           1      2018          1       29         4           0            0           1
107804    TUN    TOE    SCH        2018            4          1              6             2      2018          4        1        17          45            6           2      2018          4        1        18          45            6           2
107805    TUN    DJE    SCH        2018            4         10              1             2      2018          4       10         6           0            1           2      2018          4       10         6          45            1           2
107806    DJE    TUN    SCH        2018            1          5              4             1      2018          1        5         8           0            4           1      2018          1        5         9           0            4           1
107807    TUN    DJE    SCH        2018            1         24              2             1      2018          1       24        13          45            2           1      2018          1       24        14          45            2           1
107808    TUN    TUN    SCH        2018            4         13              4             2      2018          4       13        22           0            4           2      2018          4       14         1           0            5           2
107809    DJE    TUN    SCH        2018            8          5              6             3      2018          8        5        12          30            6           3      2018          8        5        13          15            6           3
107810    TUN    DJE    SCH        2018            6         30              5             3      2018          6       30        14          30            5           3      2018          6       30        15          30            5           3
107811    DJE    TUN    SCH        2018            8         21              1             3      2018          8       21        19          45            1           3      2018          8       21        20          45            1           3
107812    MLA    TUN    SCH        2018           10         21              6             4      2018         10       21        11          30            6           4      2018         10       21        12          40            6           4
107813    MIR    MIR    SCH        2018            8         11              5             3      2018          8       11         1           0            5           3      2018          8       11         4           0            5           3
107814    TUN    TUN    SCH        2018            2          1              3             1      2018          2        1         7           0            3           1      2018          2        1        18          30            3           1
107815    TUN    TUN    SCH        2018           12          2              6             1      2018         12        2        22           0            6           1      2018         12        3         1           0            0           1
107816    TUN    TUN    SCH        2018            1         15              0             1      2018          1       15        22           0            0           1      2018          1       16         4           0            1           1
107817    DJE    TUN    SCH        2018            8          3              4             3      2018          8        3        16          15            4           3      2018          8        3        17          15            4           3
107818    TUN    TUN    SCH        2018           12         31              0             1      2018         12       31        22           0            0           1      2019          1        1         1           0            1           1
107819    TOE    TUN    SCH        2018            2         14              2             1      2018          2       14         5           0            2           1      2018          2       14         6           0            2           1
107820    PMO    TUN    SCH        2018           12         24              0             1      2018         12       24         9          45            0           1      2018         12       24        10          45            0           1
107821    TUN    TUN    SCH        2018            1         24              2             1      2018          1       24        15           0            2           1      2018          1       24        18           0            2           1
107822    DJE    TUN    SCH        2018            8          2              3             3      2018          8        2        16          15            3           3      2018          8        2        17          15            3           3
107823    MIR    TUN    ATA        2018            4         12              3             2      2018          4       12        17           5            3           2      2018          4       12        17          40            3           2
107824    TUN    NAP    SCH        2018            2          9              4             1      2018          2        9        10           0            4           1      2018          2        9        11          15            4           1
107825    TUN    TUN    SCH        2018            8          8              2             3      2018          8        8        22           0            2           3      2018          8        9         1           0            3           3
107826    DJE    TUN    SCH        2018           10         15              0             4      2018         10       15        19          45            0           4      2018         10       15        20          45            0           4
107827    TUN    TUN    SCH        2018           12         19              2             1      2018         12       19        23          45            2           1      2018         12       20         1          45            3           1
107828    TUN    TUN    SCH        2018            7          5              3             3      2018          7        5        23           0            3           3      2018          7        6         2           0            4           3
107829    DJE    TUN    SCH        2018            1         13              5             1      2018          1       13         8           0            5           1      2018          1       13         9           0            5           1
107830    TUN    TUN    SCH        2018           11          7              2             4      2018         11        7         5           0            2           4      2018         11        7        12          50            2           4
107831    TUN    DJE    ATA        2018            1         23              1             1      2018          1       23        18           0            1           1      2018          1       23        18          45            1           1
107832    TUN    DJE    SCH        2018           11         13              1             4      2018         11       13         6          15            1           4      2018         11       13         7           5            1           4

[107833 rows x 22 columns]

In [17]:
unscaled_inputs_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107833 entries, 0 to 107832
Data columns (total 22 columns):
DEPSTN           107833 non-null object
ARRSTN           107833 non-null object
STATUS           107833 non-null object
DATOP_Year       107833 non-null int64
DATOP_Month      107833 non-null int64
DATOP_Day        107833 non-null int64
DATOP_Weekday    107833 non-null int64
DATOP_Season     107833 non-null int64
STD_Year         107833 non-null int64
STD_Month        107833 non-null int64
STD_Day          107833 non-null int64
STD_Hour         107833 non-null int64
STD_Minute       107833 non-null int64
STD_Weekday      107833 non-null int64
STD_Season       107833 non-null int64
STA_Year         107833 non-null int64
STA_Month        107833 non-null int64
STA_Day          107833 non-null int64
STA_Hour         107833 non-null int64
STA_Minute       107833 non-null int64
STA_Weekday      107833 non-null int64
STA_Season       107833 non-null int64
dtypes: int64(19), object(3)
memory usage: 18.1+ MB

In [18]:
unscaled_inputs_all.columns

Index(['DEPSTN', 'ARRSTN', 'STATUS', 'DATOP_Year', 'DATOP_Month', 'DATOP_Day', 'DATOP_Weekday', 'DATOP_Season', 'STD_Year', 'STD_Month', 'STD_Day', 'STD_Hour', 'STD_Minute', 'STD_Weekday', 'STD_Season', 'STA_Year', 'STA_Month', 'STA_Day', 'STA_Hour', 'STA_Minute', 'STA_Weekday', 'STA_Season'], dtype='object')

In [19]:
# unscaled_inputs_all["DEPSTN"].value_counts()

In [20]:
unscaled_inputs_all = unscaled_inputs_all[unscaled_inputs_all["DEPSTN"] != "FIH"] 

unscaled_inputs_all = unscaled_inputs_all[unscaled_inputs_all["DEPSTN"] != "KRR"] 

unscaled_inputs_all = unscaled_inputs_all[unscaled_inputs_all["DEPSTN"] != "LFW"] 


unscaled_inputs_all = unscaled_inputs_all[unscaled_inputs_all["DEPSTN"] != "MVB"]

In [21]:
# unscaled_inputs_all["ARRSTN"].value_counts().count()

In [22]:
# unscaled_inputs_all["DEPSTN"].value_counts().count()

In [23]:
unscaled_inputs_all["STATUS"].value_counts()

ATA    93675
SCH    13242
DEP      467
RTR      294
DEL      151
Name: STATUS, dtype: int64

In [24]:
len(unscaled_inputs_all.columns)

22

## Binary Encoding

In [25]:
import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['STATUS','DEPSTN','ARRSTN'])
unscaled_inputs_binary_encoded = encoder.fit_transform(unscaled_inputs_all)

unscaled_inputs_binary_encoded.head()

,DEPSTN_0,DEPSTN_1,DEPSTN_2,DEPSTN_3,DEPSTN_4,DEPSTN_5,DEPSTN_6,DEPSTN_7,ARRSTN_0,ARRSTN_1,ARRSTN_2,ARRSTN_3,ARRSTN_4,ARRSTN_5,ARRSTN_6,ARRSTN_7,STATUS_0,STATUS_1,STATUS_2,STATUS_3,DATOP_Year_0,DATOP_Year_1,DATOP_Year_2,DATOP_Month_0,DATOP_Month_1,DATOP_Month_2,DATOP_Month_3,DATOP_Month_4,DATOP_Day_0,DATOP_Day_1,DATOP_Day_2,DATOP_Day_3,DATOP_Day_4,DATOP_Day_5,DATOP_Weekday_0,DATOP_Weekday_1,DATOP_Weekday_2,DATOP_Weekday_3,DATOP_Season_0,DATOP_Season_1,DATOP_Season_2,STD_Year_0,STD_Year_1,STD_Year_2,STD_Month_0,STD_Month_1,STD_Month_2,STD_Month_3,STD_Month_4,STD_Day_0,STD_Day_1,STD_Day_2,STD_Day_3,STD_Day_4,STD_Day_5,STD_Hour_0,STD_Hour_1,STD_Hour_2,STD_Hour_3,STD_Hour_4,STD_Hour_5,STD_Minute_0,STD_Minute_1,STD_Minute_2,STD_Minute_3,STD_Minute_4,STD_Minute_5,STD_Minute_6,STD_Weekday_0,STD_Weekday_1,STD_Weekday_2,STD_Weekday_3,STD_Season_0,STD_Season_1,STD_Season_2,STA_Year_0,STA_Year_1,STA_Year_2,STA_Month_0,STA_Month_1,STA_Month_2,STA_Month_3,STA_Month_4,STA_Day_0,STA_Day_1,STA_Day_2,STA_Day_3,STA_Day_4,STA_Day_5,STA_Hour_0,STA_Hour_1,STA_Hour_2,STA_Hour_3,STA_Hour_4,STA_Hour_5,STA_Minute_0,STA_Minute_1,STA_Minute_2,STA_Minute_3,STA_Minute_4,STA_Minute_5,STA_Minute_6,STA_Weekday_0,STA_Weekday_1,STA_Weekday_2,STA_Weekday_3,STA_Season_0,STA_Season_1,STA_Season_2
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1
2,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,1,0,0,1
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1
4,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1

In [26]:
unscaled_inputs_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107829 entries, 0 to 107832
Data columns (total 22 columns):
DEPSTN           107829 non-null object
ARRSTN           107829 non-null object
STATUS           107829 non-null object
DATOP_Year       107829 non-null int64
DATOP_Month      107829 non-null int64
DATOP_Day        107829 non-null int64
DATOP_Weekday    107829 non-null int64
DATOP_Season     107829 non-null int64
STD_Year         107829 non-null int64
STD_Month        107829 non-null int64
STD_Day          107829 non-null int64
STD_Hour         107829 non-null int64
STD_Minute       107829 non-null int64
STD_Weekday      107829 non-null int64
STD_Season       107829 non-null int64
STA_Year         107829 non-null int64
STA_Month        107829 non-null int64
STA_Day          107829 non-null int64
STA_Hour         107829 non-null int64
STA_Minute       107829 non-null int64
STA_Weekday      107829 non-null int64
STA_Season       107829 non-null int64
dtypes: int64(19), object(3)
memory usage: 18.9+ MB

In [27]:
# len(unscaled_inputs_binary_encoded.columns)

In [28]:
# unscaled_inputs_binary_encoded = unscaled_inputs_all.values

In [29]:
unscaled_inputs_binary_encoded = unscaled_inputs_binary_encoded.values

In [30]:
unscaled_inputs_binary_encoded.shape

(107829, 109)

## Standardize the inputs

In [31]:
# scaled_inputs = preprocessing.scale(unscaled_inputs_binary_encoded)

In [32]:
scaled_inputs = unscaled_inputs_binary_encoded

In [33]:
unscaled_inputs_binary_encoded

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0]], dtype=int64)

## Shuffle the data

In [34]:
shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)


shuffled_inputs = scaled_inputs[shuffled_indices]
shuffled_targets = targets_all[shuffled_indices]

## Split the dataset into train, validation and test

In [35]:
samples_count = shuffled_inputs.shape[0]

train_samples_count = int(1*samples_count)
# validation_samples_count = int(0.1*samples_count)
# test_samples_count = samples_count - validation_samples_count - train_samples_count

train_inputs = shuffled_inputs[:train_samples_count]
train_targets = shuffled_targets[:train_samples_count]

# validation_inputs = shuffled_inputs[train_samples_count:validation_samples_count+train_samples_count]
# validation_targets = shuffled_targets[train_samples_count:validation_samples_count+train_samples_count]

# test_inputs = shuffled_inputs[validation_samples_count+train_samples_count:]
# test_targets = shuffled_targets[validation_samples_count+train_samples_count:]

## Save the three datasets in *.npz

In [36]:
np.savez('AI_HACK_data_train',inputs=train_inputs,targets=train_targets)
# np.savez('AI_HACK_data_validation',inputs=validation_inputs,targets=validation_targets)
# np.savez('AI_HACK_data_test',inputs=test_inputs,targets=test_targets)